body {
    background-color: #f2cbbc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    padding-left: 80px;
    padding-top: 20px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.frame-wrapper{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    text-align: center;
    padding: 50px 0;
}

#frame img {
   height: 400px;
}

.next-button-wrapper{
    padding-top: 50px;
    text-align: center;
}

.next-button {
    border: 3px solid white;
    padding: 20px;
    background: #f2cbbc;;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 200px;
    cursor: pointer;
}
